
.input {
  width: 100%;
  padding: 4px 10px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  /*//bigger font size*/
    font-size: 1.5em;
}
.input:focus {
  background-color: #f2f2f2;
}