.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.circle {
    width: 20px;
    height: 20px;
    background-color: #333;
    border-radius: 50%;
    margin: 0 5px;
    animation: circle 0.9s infinite alternate;
}
@keyframes circle {
    to {
        transform: translateY(-20px);
        background-color: #fff;
    }
}