.portfolio {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 5px 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
    position: absolute;
    right: 1%;
}
.portfolio:hover {
    box-shadow: 0 0 10px #3140a1;
}
/* make it adaptive to pc and mobile */
@media (max-width: 768px) {

    .portfolio {
        margin: 70px 0px ;
        padding: 0px 0px;
        font-size: 80%;
        right: 1%;
        /*height: 100%;*/
    }
}